<?xml version="1.0"?>

<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>

  <!-- Allow all users to visit RoleBasedAuthorization.aspx -->
  <location path="CambiarPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>