/*
   lunes, 01 de julio de 201310:29:16 a.m.
   User: sa
   Server: .\SQLEXPRESS
   Database: dbContabRisk
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tEmpleados SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Empleados_Faltas
	(
	ID int NOT NULL IDENTITY (1, 1),
	Empleado int NOT NULL,
	Desde date NOT NULL,
	Hasta date NOT NULL,
	CantDias smallint NOT NULL,
	Descontar bit NOT NULL,
	Observaciones text NULL,
	DescripcionRubroNomina nvarchar(250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Empleados_Faltas ADD CONSTRAINT
	PK_Empleados_Faltas PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Empleados_Faltas ADD CONSTRAINT
	FK_Empleados_Faltas_tEmpleados FOREIGN KEY
	(
	Empleado
	) REFERENCES dbo.tEmpleados
	(
	Empleado
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.Empleados_Faltas SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Empleados_Sueldo
	(
	ID int NOT NULL IDENTITY (1, 1),
	Empleado int NOT NULL,
	Desde date NOT NULL,
	Sueldo money NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Empleados_Sueldo ADD CONSTRAINT
	PK_Empleados_Sueldo PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Empleados_Sueldo ADD CONSTRAINT
	FK_Empleados_Sueldo_tEmpleados FOREIGN KEY
	(
	Empleado
	) REFERENCES dbo.tEmpleados
	(
	Empleado
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.Empleados_Sueldo SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
