
<style>
    /*  this is to implement text wrapping in jqGrid cells */
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    /*  same but for col headers */
    .ui-jqgrid .ui-jqgrid-htable th div {
        height: auto;
        overflow: hidden;
        padding-right: 4px;
        padding-top: 2px;
        position: relative;
        vertical-align: text-top;
        white-space: normal !important;
    }
</style>

@{
    ViewBag.Title = "Centros de costo - consulta";
}

<div style="padding-top: 0; ">
    <div class="progressbar" style="height: 15px; width: 10%; margin: 0 auto; "></div>
</div>

<div>
    <div style="float: left; ">
        <h3 style="color: #608BB8; font-style: italic; ">Centros de costo - consulta</h3>
    </div>
    <div style="float: right; padding-top: 0; ">
        <b><span style="font-style: italic; font-size: 12px; " data-bind="text: ciaContabSeleccionada">Por favor seleccione una compañía ...</span></b>
    </div>
</div>
<div style="clear: both; " />

<!-- espacio para mostrar mensajes desde el servidor o cliente ... -->
<div id="MensajeAlUsuario_Div"></div>

<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <div class="pagination-sm">
            <div id="page-selection"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1 left-side-bar" style="padding: 20px 0px 30px 0px; border: solid 1px lightgray; text-align: center; ">

            <a href='#' data-bind="click: openFilterJqueryDialog">
                <img src='@Url.Content("~/Pictures/Filter_25x25.png")' />
            </a>
            <br />
            <a href='#' data-bind="click: openFilterJqueryDialog">Aplicar un<br />filtro</a>

            <br />
            <hr />

            <!-- obtención de reportes  -->
            <a href='#' data-bind="click: openReportsJqueryDialog">
                <img src='@Url.Content("~/Pictures/reports_25x25.png")' />
            </a>
            <br />
            <a href='#' data-bind="click: openReportsJqueryDialog">Reportes</a>

            <br />
            <hr />
        </div>

        <div class="col-md-11">

            <!-- jquery grid -->
            <table id="theGrid"></table>
            <div id="gridPager"></div>

        </div>
    </div>
</div>

<!-- jquery ui dialog (filter)-->
<div id="filterDialog" title="... indique un criterio de selección y haga un click en Ok">
    <table style="margin-top: 15px; ">
        <tr>
            <td><b>Centros de costo: </b></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><b>Período: </b></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><b>Monedas: </b></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td><select data-bind="options: filtro.centrosCosto, optionsValue: 'id', optionsText: 'descripcion', selectedOptions: centrosCostoSeleccionado"
                        id="centrosCosto_Select"
                        multiple
                        size="10">
                </select>
            </td>
            <td></td>
            <td style="vertical-align: top; ">
                <input class="datefield" type="text" id="desde_input" style="width: 120px; " data-bind="value: filtro.desde" />
                <br />
                <input class="datefield" type="text" id="hasta_input" style="width: 120px; " data-bind="value: filtro.hasta" />
            </td>
            <td></td>
            <td style="vertical-align: top; ">
                <select data-bind="options: filtro.monedas, optionsValue: 'id', optionsText: 'descripcion', value: monedaSeleccionada"
                        id="monedas_Select">
                </select>
                <br /><br />
                <p>
                    <input type="checkbox" data-bind="checked: seleccionarCuentasSinMovimientosEnElPeriodo" /> &nbsp;
                    Seleccionar y mostrar cuentas (centros de costo) que <em>no han tenido</em> movimientos en el período indicado,
                    <em>pero</em> que tienen un saldo diferente a cero al inicio del período
                </p>
            </td>
            <td></td>
        </tr>
    </table>
</div>

<!-- jquery ui dialog (reports)-->
<div id="reportsDialog" title="... indique sus opciones y obtenga el reporte">
    <br />
    <p>Indique sus opciones y obtenga el reporte</p>
    <br />

    <div>
        <div style="float: left; margin-left: 30px; ">
            <p>
                <input type="checkbox" data-bind="checked: opcionesReporte.versionResumen" />&nbsp; versión Resumen
            </p>
        </div>
        <div style="float: right; margin-right: 30px; ">
            <button class="btn btn-primary" data-bind="click: obtener_Reporte">Obtener reporte</button>
        </div>
    </div>
    
    <br />
    
</div>

<script src="~/Scripts/code/contab/CentrosCostoConsulta.js"></script>




