@*@model IEnumerable<string>*@

@* pasamos la lista de roles en el viewbag, para que el Layout pueda tener acceso a ésto (y 'armar' el menú). Nótese que la lista de roles 
   es simple y corta, por lo cual no abusamos mucho del uso del ViewBag ... *@

@{
    //ViewBag.Roles = Model;      
    ViewBag.Title = "ContabSysNet";
}

@*<h2>Index</h2>*@

<br />

<div class="jumbotron myJumbotron" style="height: 300px; ">
    @*<h1>ASP.NET Identity</h1>
        <p class="lead">ASP.NET Identity is the membership system for ASP.NET apps. Following are the features of ASP.NET Identity in this sample application.</p>
        <p><a href="http://www.asp.net/aspnet/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

