/*
   Sunday, September 7, 202512:38:48 PM
   User: db_a9c864_dbcontabsmr_admin
   Server: SQL5110.site4now.net
   Database: db_a9c864_dbcontabsmr
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TasasCambio
	(
	Id int NOT NULL IDENTITY (1, 1),
	Fecha datetime NOT NULL,
	Monto money NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TasasCambio ADD CONSTRAINT
	PK_TasasCambio PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TasasCambio SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
